<div class="jumbotron for-form" data-ng-init="getTasks()">
  <div>
    <h2>You've got <span>{{getTotalTasks()}}</span> tasks in session</h2>
    <ul>
      <li ng-repeat="task in tasks">
        <input type="checkbox" ng-model="task.done"/>
        <span class="done-{{task.done}}">{{task.name}}</span>
      </li>
    </ul>
    <form class="form-inline">
      <div class="form-group">
        <input class="form-control" placeholder="Enter tasks..."
               type="text" ng-model="formTasksText" ng-model-instant />
      </div>
      <button class="btn btn-default" type="submit" ng-click="addTask()" ng-if="!saving">
        Save
      </button>
      <button class="btn btn-default" ng-if="saving" class="disabled">
        Saving
      </button>
      <p ng-if="hint" class="hint">At least 5 characters</p>
    </form>
  </div>
</div>
